/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #0d0d0d;
    color:#fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* padding:20px; */
}

